# 应用配置
APP_NAME=FastAPI Server
ENVIRONMENT=development
DEBUG=True
PORT=8010

# 数据库配置
DATABASE_URL=mysql+pymysql://root:onemoretime123.@localhost:3306/speed-knowledge
# jwt配置
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080
SECRET_KEY=fa44273b1571628e36b527acabe1c06d796fad30cbb4ac40c93fdb10a30bb90f

# nodejs协同服务

NODEJS_SERVICE_URL=http://localhost:3000

# Redis 配置
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_DECODE_RESPONSES=True

# minio
MINIO_ENDPOINT= 127.0.0.1:9000
MINIO_ACCESS_KEY= minioadmin
MINIO_SECRET_KEY= minioadmin
MINIO_BUCKET_NAME= speed-knowledge
MINIO_USE_SSL = False

# CORS 配置
CORS_ORIGINS=["http://localhost:3000","http://localhost:5173", "http://localhost:9000"]

# onlyoffice配置
ONLYOFFICE_JWT_SECRET = "my-very-strong-onlyoffice-secret-2024"
ONLYOFFICE_SERVER_URL = http://localhost:8080

# 火山引擎配置
VOLC_API_KEY= "sk-your-api-key-here"
VOLC_ENDPOINT= https://ark.cn-beijing.volces.com/api/v3
# sdk自动填入了端点id
VOLC_MODEL= doubao-seed-1-8-251228

# ai机器人相关配置
PUBLIC_HELP_KNOWLEDGE_SLUG = Nma4aX

QDRANT_URL=http://127.0.0.1:6333
QDRANT_COLLECTION=public_help_chunks_384

# 本地向量库
EMBED_MODEL_NAME=BAAI/bge-small-zh-v1.5
CHUNK_SIZE = 1000
CHUNK_OVERLAP = 200
TOP_K = 8

# 千问llmkey(请切换你自己的key)
DASHSCOPE_API_KEY='sk-your-api-key-here'
QWEN_MODEL = qwen-plus