# 应用配置
APP_NAME=FastAPI Server
ENVIRONMENT=development
DEBUG=True
PORT=8000

SECRET_KEY=fa44273b1571628e36b527acabe1c06d796fad30cbb4ac40c93fdb10a30bb90f
# 数据库配置
ALGORITHM=HS256
DATABASE_URL=mysql+pymysql://root:onemoretime123.@localhost:3306/speed-knowledge
ACCESS_TOKEN_EXPIRE_MINUTES=10080


# Redis 配置
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=


# CORS 配置
CORS_ORIGINS=["http://localhost:3000","http://localhost:5173"]


# 千问llmkey
export DASHSCOPE_API_KEY='你的LLM秘钥'