# 阿里云 ACR（成都个人版）命名空间 speed-knowledge
ACR_REGISTRY=crpi-ewcecvhd15oyzexv.cn-chengdu.personal.cr.aliyuncs.com/speed-knowledge

MYSQL_ROOT_PASSWORD=Change_me
MYSQL_DATABASE=speed-knowledge
JWT_SECRET=Change_me
INTERNAL_SERVICE_TOKEN=Change_me
ONLYOFFICE_JWT_SECRET=Change_me
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET_NAME=speed-knowledge
RABBITMQ_DEFAULT_USER=app
RABBITMQ_DEFAULT_PASS=app_pass
