MYSQL_ROOT_PASSWORD=Change_me
MYSQL_DATABASE=speed-knowledge
JWT_SECRET=Change_me
INTERNAL_SERVICE_TOKEN=Change_me
ONLYOFFICE_JWT_SECRET=Change_me
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
RABBITMQ_DEFAULT_USER=app
RABBITMQ_DEFAULT_PASSe=app_pass